*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    overflow-x: hidden;
}
main{
    background: #f3f3f3;
    width: 100%;
    margin-right: -20px;
}
.sidebar{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 180px;
    background:#3A4F7A;
    border-right: 1px solid #d9d9d9;
    z-index: 100;
}
.sidebar .header img{
    width: 60px;
    margin-left: 10px;
}
.sidebar .menu{
    margin: 0px 5px 0 5px;
    
}
.sidebar .menu .link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 100%;
    padding: 8px 0 8px 0;   
}

.sidebar .menu .link .menu_item{
    
    font-size: 14px;
    color: white;
    margin-left: -10px;
}
.sidebar .menu .link .icon{
    display: flex;
    align-items: center;
    min-width: 60px;
    font-size: 20px;
    justify-content: center;
    color: white;
}
.sidebar .menu .link:hover {
    background: white;
    border-radius: 10px;
    
}

.sidebar .menu .link:hover .icon, 
.sidebar .menu .link:hover .menu_item {
    color: #3A4F7A;
}